.float-left {
    float: left;
}
.float-right {
    float: right;
}
.user-login {
    font-weight: bold;
    margin: 3px 20px 3px 3px;
}
.user-login a {
    color: white;
}
.info ul li, .success ul li, .warning ul li, .error ul li, .validation ul li {
    list-style-type: none;
}
.info ul, .success ul, .warning ul, .error ul, .validation ul {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #DC143C;
    background-color: #FFE4E1;
}
.select-list {
    width: 540px;
    border: 1px #ccc solid;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 0;
    text-transform: capitalize;
    background: none;
    color: grey;
    padding: 6px;
}
.remember_me {
    padding: 23px 9px;
}