.toolbar-menu {
    background: #000;
    line-height: 20px;
    padding: 5px 50px 5px 10px;
    position: absolute;
    border: 0;
    z-index: 10000000;
    font-size: 100%;
    line-height: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    color: #fff;
    font: normal small "Lucida Grande", Verdana, sans-serif;
    width: 100%;
    opacity: 0.7;
}
.toolbar-home {
    border: 0;
    font-size: 100%;
    line-height: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    overflow: hidden;
}
.toolbar-home li {
    border: 0;
    font-size: 100%;
    line-height: inherit;
    list-style: none;
    margin: 4px 15px;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    float: left;
    font-weight: bold;
}
.toolbar-home li a {
    text-shadow: #333 0 1px 0;
    padding: 0 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: .846em;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    line-height: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
}