{% extends "MainAbstractBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/mainabstract/css/slick.css') }}" media="all" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/mainabstract/css/animate.css') }}" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block container %}
<div class="container">
    <div class="chairman clearfix">
        <h1 class="text-center">chairman word</h1>
        <p class="col-md-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
        <img class="col-md-4 img-responsive" src="{{ asset('bundles/mainabstract/img/chairman.jpg') }}" alt="Chairman">
        <div class="col-md-6 pull-left"> <a href="about.html" class="text-center">read more</a> </div>
    </div>
    <!--chairman--> 
</div>
<!--container-->
{% endblock %}